<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
      <form action="/" method="POST">
        <p><input type="submit" value = "Left" name="submit">
           <input type="submit" value = "Up" name="submit">
           <input type="submit" value = "Right" name="submit">
           <input type="submit" value = "Down" name="submit"></p>
        <p>
           <input type="submit" value = "Rotate CW" name="submit">
           <input type="submit" value = "Rotate CCW" name="submit"></p>
        <p>
           <input type="submit" value = "Execute" name="submit"></p>
      </form>
      <p> Actions: </p>
      <p> {{actionQueue}} </p>
  </body>
</html>